body {
  font-family: sans-serif;
  text-align: center;
  background: #f0f8ff;
}
#output {
  white-space: pre-wrap;
  text-align: left;
  margin: 2rem auto;
  width: 80%;
  background: #fff;
  padding: 1rem;
  border: 1px solid #ccc;
}

input {
  padding: 4px;
  font-size: 14px;
}